<footer class="main-footer">
  <div class="footer__section">
    <h2 class="footer__title">Sobre nosotros</h2>
    <p class="footer__txt">Somos una empresa dedicada a la venta de ropa para dama, con variedad de estilos para todo tipo de mujeres.</p>
   </div>
  <div class="footer__section">
    <h2 class="footer__title">Dirección :</h2>
    <p class="footer__txt">Cl. 33 #42B-06, Medellín, La Candelaria, Medellín, Antioquia, Colombia</p>
    <h2 class="footer__title">Contactanos</h2>
    <p class="footer__txt">Teléfono : +57 300 225 1484</p>
    <p class="footer__txt">Correo : info@example.com</p>
   </div>
  <div class="footer__section">
    <h2 class="footer__title">Accesos rápidos</h2>
    <a href="" class="footer__link">Inicio</a>
    <a href="" class="footer__link">Sobre nosotros</a>
    <a href="" class="footer__link">Error</a>
    <a href="" class="footer__link">Carrito</a>
    <a href="" class="footer__link">Contáctanos</a>
   </div>
  <div class="footer__section">
    <h2 class="footer__title">Logueate y conoce tus ofertas</h2>
    <p class="footer__txt">Al subscribirte a nuetra lista de correos, podrás tener las últimas ofertas y nuevos productos.</p>
    <input type="email" class="footer__input" placeholder="Ingresa tu correo">
   </div>
  <p class="copy">© 2022 Khalo. Todos los derechos reservados | Diseñado por Grupo1</p>
 </footer>