
    <header class="main-header">
      <div class="container">
        <div class="main-header__container">
          <a href="/" class="link"> <div class="logo"><img src="/images/Logo.jpg"></div> </a>
          <div class="dropdown">
              <a href=#buscar></a>
                  <div class="dropdown">
                    <%- include('../partials/searchField'); %>
                  </div>
                  <div class="dropdown">
                    <a href="/products/cart"><button id="iconosNav" class="fas fa-shopping-cart fa-lg"></button></a>
                    <span id="iconosNav" class="cart_number">0</span>
                  </div>
            </div>
        <ul class="menu">
          <li class="menu__item"><a href="/" class="menu__link">INICIO</a></li>
          <li class="menu__item"><a href="/users/creargerente" class="menu__link">CREAR GERENTE</a></li>
          <li class="menu__item"><a href="/users/listadogerentes" class="menu__link">LISTADO GERENTES</a></li>
          <li class="menu__item"><a href="http://localhost:3000/" target="_blank" class="menu__link">DASHBOARD</a></li>
          <% if(locals.isLogged){ %>
            <li class="menu__item"><a href='/users/perfilusuario' class="menu__link">HOLA <%= locals.userLogged.nombre
                  %>!</a></li>
            <li class="menu__item"><a href='/users/logout' class="menu__link">LOGOUT</a></li>
            <% } else {%>
              <li class="menu__item"><a href='/users/registro' class="menu__link">CREAR USUARIO</a></li>
              <li class="menu__item"><a href='/users/login' class="menu__link">LOGIN</a></li>
              <% }%>
        </ul>
      </nav>
    </div>
  </div>
</header>