
    <header class="main-header">
      <div class="container">
        <div class="main-header__container">
          <a href="/" class="link"> <div class="logo"><img src="/images/Logo.jpg"></div> </a>
          <div class="dropdown">
              <a href=#buscar></a>
                  <div class="dropdown">
                    <%- include('../partials/searchField'); %>
                  </div>
                  <div class="dropdown">
                    <a href="/products/cart"><button id="iconosNav" class="fas fa-shopping-cart fa-lg">  <span id="iconosNav" class="cart_number">0</span></button></a>
                  </div>
            </div>
            <button class="hambButton"><i class=" fa-sharp fa-solid fa-bars"></i></button>


            <ul class="menu menuContainer abrirMenu animate__backInDown">
              <li class="menu__item"><a href="/" class="menu__link">INICIO</a></li>
              <li class="menu__item"><a href="/products/crearproducto" class="menu__link">CREAR PRODUCTO</a></li>
              <li class="menu__item"><a href="/products/listadoproductos" class="menu__link">LISTADO PRODUCTOS</a></li>
              <% if(locals.isLogged){ %>               
                <li class="menu__item"><a href='/users/perfilusuario' class="menu__link">HOLA <%= locals.userLogged.nombre %>!</a></li>
                <li class="menu__item"><a href='/users/logout' class="menu__link">LOGOUT</a></li>
                <% } else {%>          
                  <li class="menu__item"><a href='/users/registro' class="menu__link">CREAR USUARIO</a></li>
                  <li class="menu__item"><a href='/users/login' class="menu__link">LOGIN</a></li>
                <% }%>
                </ul>

          </div> 
        </div>
        <script>
          let botonHamburguesa = document.querySelector(".hambButton");
          let menuHamburguesa = document.querySelector(".menuContainer")
          botonHamburguesa.addEventListener("click" , ()=>{
            menuHamburguesa.classList.toggle("abrirMenu")
          })

        document.addEventListener("scroll" , ()=>{
          if ((menuHamburguesa.classList.contains(".abrirMenu")) == false){
            menuHamburguesa.classList.add("abrirMenu")
          }
          })

        </script>
      </header>
  
  
