<header class="main-header">
    <div class="container">
      <div class="main-header__container">
        <a href="/" class="link"> <div class="logo"><img src="/images/Logo.jpg"></div> </a>
        <div class="icono-menu"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="icono-menu"><a href="/products/carrito" class="link"><i class="fa-solid fa-bag-shopping"></i></a></div>
        <span class="icon-menu"><i class="fa-solid fa-bars" id="btn-menu"></i></span>
        <nav class="main-nav" id="main-nav">
          <ul class="menu">

            <li class="menu__item"><a href="/" class="menu__link">INICIO</a></li>
            <li class="menu__item"><a href="/products/crearproducto" class="menu__link">CREAR PRODUCTO</a></li>
            <li class="menu__item"><a href="/products/listadoproductos" class="menu__link">LISTADO PRODUCTOS</a></li>
            <li class="menu__item"><a href='/users/Login' class="menu__link">INICIAR SESIÓN</a></li>

            <li class="menu__item"><a href='/users/registro' class="menu__link">CREAR USUARIO</a></li>
            </ul>
          </nav>
        </div> 
      </div>
    </header>

