<section class="dropdown">        
    <form action="/products/search" method="GET">
        <input  type="text" name="keywords" placeholder="Buscar" size="30">
        <button type="submit" id="iconosNav" class="fas fa-search fa-lg"></button>
    </form>
</section>

