<section class="dropdown">        
    <form action="/products/search" method="GET">
        <input  type="text" class="inputBusqueda" name="keywords" placeholder="Buscar" size="30">
        <button type="submit"  class="searchButton fas fa-search fa-lg"></button>
    </form>
</section>

