<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Carrito</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('partials/head') %>
</head>
 <body>
        <!-- INCLUDES HEADER-->
  <%- include('partials/header') %>
  

    <h1 class="titulo"> Datos de facturación y envío:</h1>

        <div class="box">
    
        
        
    
        <div class="formularioEnvio">
            <form action="resultado.html" method="POST">
            <p>
            <input class="inputsGrandes form-control  border border-dark" type="email" id="Email" name="Email" placeholder="Email" required>
            </p>
    
    
            <p>
            <input class="inputsMedianos form-control  border border-dark" type="text" id="Nombre" name="Nombre" placeholder="Nombre" required>
            <input class="inputsMedianos form-control  border border-dark" type="text" id="Apellido" name="Apellido" placeholder="Apellido" required>
            </p>
    
            <p>
            <input class="inputsGrandes form-control  border border-dark" type="text" id="Calle" name="Calle" placeholder="Calle" required>
            </p>
            <p>
            <input class="inputsPequeños form-control  border border-dark" type="text" id="Número" name="Número" placeholder="Número" required>
            <input class="inputsPequeños form-control  border border-dark" type="text" id="Piso" name="Piso" placeholder="Piso">
            <input class="inputsPequeños form-control  border border-dark" type="text" id="Departamento" name="Departamento" placeholder="Departamento">
            </p>
    
            <p> 
                <select class="selectProvincia form-control  border border-dark" name="Provincia"required>
                    <option value="1">BUENOS AIRES</option>
                    <option value="2">CATAMARCA</option>
                    <option value="3">CHACO</option>
                    <option value="4">CHUBUT</option>
                    <option value="5">CIUDAD AUTONOMA DE Bs As</option>
                    <option value="6">CORDOBA</option>
                    <option value="7">CORRIENTES</option>
                    <option value="8">ENTRE RIOS</option>
                    <option value="9">FORMOSA</option>
                    <option value="10">JUJUY</option>
                    <option value="11">LA PAMPA</option>
                    <option value="12">LA RIOJA</option>
                    <option value="13">MENDOZA</option>
                    <option value="14">MISIONES</option>
                    <option value="15">NEUQUEN</option>
                    <option value="16">RIO NEGRO</option>
                    <option value="17">SALTA</option>
                    <option value="18">SAN LUIS</option>
                    <option value="19">SANTA CRUZ</option>
                    <option value="20">SANTA FE</option>
                    <option value="21">SANTIAGO DEL ESTERO</option>
                    <option value="22">TIERRA DEL FUEGO</option>
                    <option disabled="true" selected="true" value="">Provincia</option>
                </select>   
            </p>
            <p> 
                <input class="inputsMedianos form-control  border border-dark" type="text" id="Código Postal" name="Código Postal" placeholder="Código Postal" required>
                <input class="inputsMedianos form-control  border border-dark" type="text" id="Localidad" name="Localidad" placeholder="Localidad" required>
            </p>
    
            <p>
            <input class="inputsMedianos form-control  border border-dark" type="text" id="DNI" name="DNI" placeholder="DNI" required>
            <input class="inputsMedianos form-control  border border-dark" type="text" id="Celular" name="Celular" placeholder="Celular" required>
            </p>
           
            <div class="notasParaElEnvio form-floating form-control  border border-dark">
                <textarea class="form-control form-control  border border-dark" placeholder="Notas para el envío" id="Notas" ></textarea>
                <label for="Notas">Notas para el envío</label>
              </div>
    
    
            </form>
        </div>
        <div class="cajaEntera">
        <div class="boxDerecha border container-fluid rounded ">
            <div class="cajaDerecha">

              <div class="cardProductos card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <a href="/products/detalleproducto"><img src="/images/ConjuntoPrimavera.jpeg" class=" fotoProductoCarrito img-fluid rounded-start" alt="foto1"></a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="tituloCard card-title">Conjunto Primavera</h5>
                    
                    <select class="form-select border border-dark boxTalleYCantidad" aria-label="Default select example" name="talle"required>
                    <option value="1">xs</option>
                    <option value="2">s</option>
                    <option value="3">m</option>
                    <option value="4">l</option>
                    <option value="5">xl</option>
                    <option value="6">xxl</option>
                    <option value="7">xxxl</option>
                    <option disabled="true" selected="true" value="">Talle</option>
                    </select> 
                    
                    <select class="form-select border border-dark boxTalleYCantidad" aria-label="Default select example" name="cantidad"required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option disabled="true" selected="true" value="">Cantidad</option>
                    </select>
                    <button type="button" class="botonEliminar btn btn-dark">Eliminar</button>
                    </div>
                  </div>
                </div>
              </div>


                <div class="cardProductos card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="/images/Khalo3.png" class=" fotoProductoCarrito img-fluid rounded-start" alt="foto2">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="tituloCard card-title">Camisa Oceano</h5>
                        
                        <select class="form-select border border-dark boxTalleYCantidad" aria-label="Default select example" name="talle"required>
                        <option value="1">xs</option>
                        <option value="2">s</option>
                        <option value="3">m</option>
                        <option value="4">l</option>
                        <option value="5">xl</option>
                        <option value="6">xxl</option>
                        <option value="7">xxxl</option>
                        <option disabled="true" selected="true" value="">Talle</option>
                        </select> 
                        
                        <select class="form-select border border-dark boxTalleYCantidad" aria-label="Default select example" name="cantidad"required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option disabled="true" selected="true" value="">Cantidad</option>
                        </select>
                        <button type="button" class="botonEliminar btn btn-dark">Eliminar</button>
                        </div>
                      </div>
                    </div>
                  </div>
            <input class="descuento form-control  border border-dark" type="text" id="descuento" name="descuento" placeholder="Codigo de descuento"> 
            <button type="button" class="botonDescuento btn btn-light">Enviar</button>  
            <h1 class="total">Total:</h1>
            <h1 class="importe"> $...</h1> 

            <button type="button" class="botonComprar btn btn-light">Comprar</button>  
    </div> 
    </div>
</div>
</div>
</body>
  <!-- INCLUDES FOOTER-->
  <%- include('partials/footer') %>
 </html>