<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet"   href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

<%- include('partials/head') %>
</head>
 <body>
        <!-- INCLUDES HEADER-->
        <%- include('partials/headersuperadmin') %>
  
        <div class="container-slide">
          <div class="swiper">
      
            <div class="swiper-wrapper">
      
              <div class="swiper-slide"><img src="images/Khalo1slide.png" alt="plage"></div>
              <div class="swiper-slide"><img src="images/Khalo2slide.png" alt="plage"></div>
              <div class="swiper-slide"><img src="images/Khalo3slide.png" alt="plage"></div>
              <div class="swiper-slide"><img src="images/Khalo4slide.png" alt="plage"></div>
            </div>
      
            <div class="swiper-pagination"></div>
          
      
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div> 
          <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
          <script>const swiper = new Swiper('.swiper', {
            autoplay: {
              delay: 3000,
              disableOnInteraction: false,
            },
            
            loop: true,
          
      
            pagination: {
            
              el: '.swiper-pagination',
              clickable: true,
            },
          
       
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          });</script>
      <main class="main">
        <div class="main-container">
          <h2 class="main-title">New Arrivals for you</h2>
          <section class="container-products">
            <div class="product">
             <a href="/products/detalleproducto/2" class="link"><img src="/images/top-perla1.jpg" alt="" class="product__img"></a>
              <div class="product__description">
               <a href="/products/detalleproducto/2" class="link"> <h3 class="product__title">Top Perla</h3> </a>
              <br>
                <span class="producto__price">$40.200</span>
                </div>
                <a href="/products/carrito"><i class="product__icon fa-solid fa-bag-shopping" ></i></a>
              </div>
            <div class="product">
              <a href="/products/detalleproducto/1" class="link"><img src="/images/ConjuntoPrimavera.jpeg" alt="" class="product__img"></a>
              <div class="product__description">
               <a href="/products/detalleproducto/1" class="link"> <h3 class="product__title">Conjunto Primavera</h3> </a>
               <br>
               <span class="producto__price">$100.000</span>
                </div>
                <a href="/products/carrito"><i class="product__icon fa-solid fa-bag-shopping" ></i></a>
              </div>
            <div class="product">
             <a href="/products/detalleproducto/3" class="link"><img src="/images/Khalo2.png" alt="" class="product__img"></a>
              <div class="product__description">
               <a href="/products/detalleproducto/3" class="link"> <h3 class="product__title">Cartera Khalo</h3> </a>
               <br>
                <span class="producto__price">$120.000</span>
                </div>
                <a href="products/carrito"><i class="product__icon fa-solid fa-bag-shopping" ></i></a>
              </div>
            <div class="product">
             <a href="/products/detalleproducto/8" class="link"><img src="/images/Blusa-rosa.jpg" alt="" class="product__img"></a>
              <div class="product__description">
               <a href="/products/detalleproducto/8" class="link"> <h3 class="product__title">Blusa Rosa</h3> </a>
               <br>
                <span class="producto__price">$55.000</span>
                </div>
                <a href="/products/carrito"><i class="product__icon fa-solid fa-bag-shopping" ></i></a>
              </div>
            </section>
          </div>
        </main>
   </body>
  <br>
  <!-- INCLUDES FOOTER-->
  <%- include('partials/footer') %>
  <script src="/js/scripts.js"></script>
</body>
</html>