<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, user-scalable+no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <style type="text/css"></style>
        
    </head>
    <body>
        <div class="main-header">
            <div class="container container--flex">
                <div class="main-header__container">
                    <div class="logo"><img src="/images/Logo.jpg"></div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-bag-shopping"></i>
                    <span class="icon-menu fa-solid fa-bars" id="btn-menu"></span>
                </div> 
            </div>
        </div>
        <figure>
            <img class="img" src="images/Khalo1.png">
            <img class="img" src="images/Khalo2.png">
            <img class="img" src="images/Khalo3.png">
            <img class="img" src="images/Khalo4.png">
            <img class="img" src="images/Khalo1.png">
        </figure>  
                
            </div>
            <main class="main">
                <h2 class="main-title">New Arrivals for you</h2>
                <section class="container-products">
                    <div class="product">

                    </div>
                </section>
            </div>
        <footer>
            <div class="sociales">
            
            </div>
        </footer>
    </body>

</html>

<h1 class="main-header__title" display: none>Khalo</h1> 