/* Hacia abajo es el CSS del header*/



header {
    background-color:#c7b5a7;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 30px;

}

/* Hacia abajo es el CSS del main*/


main {
  
    font-family: sans-serif;
    font-size: 14px;
   
}

.link{
    color: black;
    text-decoration: none;
}

.titulares{
    text-align: center;
    font-size: 24px;

}

.subtitulos{

    font-size: 18px;
    line-height: 30px;
}

.input{
    
    text-align: center;
     
}
/* esta clase es para la creacion de botones como el de crear cuenta*/
.boton{
    text-align: center;
    margin-top: 30px;
}

