*{
    box-sizing: border-box;
}
.logo{
	width: 170px;
}
body {
    margin: 0;
}
img {
    display: block;
    width: 100%;;
}
.main-header{
    padding: 0 20px;
    background-color:#c7b5a7;
}
.main-header__title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #454546;
}
.main-nav {
    display: none;
}
.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-menu{
    font-size: 1.5em ;
    border: 1px solid #454546;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}

.main-header__btn{
    display: block;
    padding: 10px 15px;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;

}
.slider {
    right: 800px;
    overflow: hidden;
	margin: 50px 0;
    
   

}
figure {
	position: relative;
    width: 500%;
	margin: 0;
	left: 0;
	animation: slider 13s infinite;
    box-sizing: border-box;
   
}

.img {
	float: left;
	width: 20%;
}
@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
