<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/header') %>
<br>
<br>
<h2 style="text-align: center;" class="iniciarSesion>"><strong>Iniciar Sesión</h2></strong>
<div class="login-page">
    <div class="form">
      <form class="login-form" action="/users/login" method="POST">
        <input type="email" placeholder="email" name="email"  />
        <input type="password" placeholder="password" name="contrasena" />
        <button>login</button>
        <p class="message">Not registered? <a href="/users/registro">Create an account</a></p>
      </form>
    </div>
  </div>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>
  </body>
  </html>