<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Registro</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/header') %>
<br>
<br>
<h2 style="text-align: center;" class="iniciarSesion>"><strong>Datos Personales</h2></strong>
<div class="login-page">
    <div class="form">
      <form class="register-form"> 
        <input type="text" placeholder="Email"/>
        <input type="text" placeholder="Nombre"/>
        <input type="text" placeholder="Apellido"/>
        <input type="password" placeholder="Contraseña"/>
        <input type="password" placeholder="Repetir Contraseña"/>
        <button>Crear Cuenta</button>
        <p class="message">Already registered? <a href="/products/login">Sign In</a></p>
      </form>
    </div>
  </div>
</body>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>
</html>