<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Registro</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/header') %>
<br>
<br>
<h2 style="text-align: center;" class="iniciarSesion>"><strong>Datos Personales</h2></strong>
<div class="login-page">
  <div class="form">
    <form class="register-form" action="/users/registro" method="POST"> 
      <input type="text" placeholder="Nombre" name= "nombre"required/>
      <input type="text" placeholder="Apellido" name="apellido"required/>
        <input type="text" placeholder="Email" name="email"/>
      <% if (locals && locals.errors) { %>
        <% if (locals.errors[0].param=="email") { %>
          <h3 style="color:red"> <%= locals.errors[0].msg %>  </h3> 
        <% } %>
      <% } %>
      <input type="date" placeholder="Cumpleaños" name="cumpleanos"/>
      <input type="text" placeholder="Direccion de residencia" name="direccion"required/>
      <input type="password" placeholder="Contraseña" name="contrasena"required minlength="5"/>
      <input type="password" placeholder="Repetir Contraseña" name="repcontrasena"required minlength="5"/>
      <button>Crear Cuenta</button>
      <p class="message">Already registered? <a href="/products/login">Sign In</a></p>
    </form>
  </div>
</div>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>