<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Crear Producto</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/header') %>
    <main>
      <br>
        <h2 style="text-align: center;" class="iniciarSesion>"><strong>Añadir Producto</h2></strong>
        <div class="login-page">
            <div class="form">
              <form class="register-form" action="/products/crearproducto" method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="Referencia" name="id"required/>
                <input type="text" placeholder="Nombre Producto" name="name"required />
                <input type="number" placeholder="Precio" name="price"required/>
                <div class="register-form">
                <br>
                <label class="register-form" for="category">Categoría:</label>
                <select name="category" id="category">
                  <option value="in-sale">in-sale</option>
                  <option value="visited">Últimos agregados</option>
                </select>
                <br>
                <br>
              </div>
              <div class="col-12">
                <label for="description" class="form-label">Descripción:</label>
                <textarea name="description" id="description" class="form-input"></textarea>
              </div>
                <h4 class="subtitulos2">Foto de Producto, seleccionar imagen</h4>
                <input type="file" name='imageProduct' accept="" multiple >
                <button type="submit" id="boton-agregar-carrito">CREAR PRODUCTO</button>
              </form>
            </div>
          </div>
    
    </main>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>

</body>

</html>