  <!-- INCLUDES HEAD-->
  <%- include('../partials/head') %>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/header') %>
    <main>

    <div id="producto-principal">
        <div class="producto-principal-1">
            <img id="imagen-producto" src="/images/ConjuntoPrimavera.jpeg">
        </div>
        <div class="producto-principal-1-info">
            <div id="caracteristicas">
                <h2 class="nombre-producto"><strong>CONJUNTO PRIMAVERA</h2></strong>
            <div id="opciones-producto">
                        <strong><p class="opciones">COLOR</p></strong>
                        <select class="opciones-seleccionadas" name="Color">
                            <option value="Blanco">Blanco</option>
                            <option value="Negro">Negro</option>
                            <option value="Azul">Azul</option>
                            <option value="Rosado">Rosado</option>
                        </select><br>

                        <strong><p class="opciones">TALLA</p></strong>
                        <select class="opciones-seleccionadas" name="tamaño">
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
            
                        </select><br>
                        <strong><p class="opciones">CANTIDAD</p></strong>
                        <select class="opciones-seleccionadas" name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select><br>
                        </select>
                        <p id="precio-producto">PRECIO: $100.000</p>
                        <a href="/productos/carrito"><button type="button"  id="boton-agregar-carrito">AGREGAR AL CARRITO</button></a>
                    </div>
                <br>      
                <div class="instrucciones_lavado"><h5><strong>Instrucciones de lavado</h5></strong>
                    <br>  
                    <figure>
                    <figure title="Lavar a mano"><img src="/images/instrucciones-lavado_01.webp" width="22" height="22" /></figure>
                    <figure title="Lavar maximo a 30º grados"> <img src="/images/instrucciones-lavado_03.webp" width="22" height="22" /></figure>
                    <figure title="No utilizar blanqueador"> <img src="/images/instrucciones-lavado_05.webp" width="22" height="22" /></figure>
                    <figure title="Planchado muy suave"> <img src="/images/instrucciones-lavado_19.webp" width="22" height="22" /></figure>
                    <figure title="No usar secadora"> <img src="/images/instrucciones-lavado_07.webp" width="22" height="22" /></figure>
                    <figure title="Tender húmedo y a la sombra"> <img src="/images/instrucciones-lavado_09.webp" width="22" height="22" /></figure>
                    <figure title="No dejar en remojo"> <img src="/images/instrucciones-lavado_12.webp" width="22" height="22" /></figure>
                    <figure title="No escurrir"> <img src="/images/instrucciones-lavado_17.webp" width="22" height="22" /></figure>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div id="descripcion-producto">
        <div id="texto-descripcionproducto">
            <h2 class="nombre-producto"><strong>CONJUNTO PRIMAVERA</h2></strong>
            <br>
            <strong><p>Pantalón y top elaborados en lino. Con un diseño inovador para tener frescura, comodidad y elegancia en un mismo outfit.</p></strong>
        </div>
    </div>
    <div id="productos-quetegusten">
    <h3 class="nombre-quizas"><strong>Tambíen podría interesarte..</h3></strong>
    </div>
    <div id="productos-quetegusten">
        <div class="un-productos-quetegusten">
            <img class="imagen-producto-quetegusten" src="/images/Topperla1.jpg" width="300px" height="300px">
            <p class="nombre-producto-quetegusten">TOP PERLA</p>
        </div>
        <div class="un-producto-quetegusten">
            <img class="imagen-producto-quetegusten" src="/images/Khalo2.png" width="300px" height="300px">
            <p class="nombre-producto-quetegusten">BOLSO PARIS</p>
        </div>
        <div class="un-producto-quetegusten">
            <img class="imagen-producto-quetegusten" src="/images/Khalo3.png" width="300px" height="300px">
            <p class="nombre-producto-quetegusten">CAMISA OCEANO</p>
        </div>
    </div>
    </main>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>

</body>

</html>