<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Editar Producto</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/header') %>
    <main>
      <br>
        <h2 style="text-align: center;" class="iniciarSesion>"><strong>Editar Producto</h2></strong>
        <div class="login-page">
            <div class="form">
              <form class="register-form"> 
                <input type="text" placeholder="Referencia" name="referencia"/>
                <input type="text" placeholder="Nombre Producto" name="nombreProducto" />
                <input type="text" placeholder="Precio" name="precio"/>
                <input type="text" placeholder="Descuento" name="descuento"/>
                <input type="password" placeholder="Talla" name="talla"/>
                <input type="password" placeholder="Color" name="color"/>
                <h4 class="subtitulos2">Foto de Producto, seleccionar imagen</h4>
                  <input type="file" name="Foto" accept="" multiple style="background-color: #ebebeb">
                <button>Guardar Cambios</button>
              </form>
            </div>
          </div>
    
    </main>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>

</body>

</html>