<!DOCTYPE html>
<html lang="en">
<!-- INCLUDES HEAD-->
<head>
	<title>Error</title>
	<link rel="stylesheet" href="/css/styles.css">
  
  <%- include('../partials/head') %>
  
  </head>
	<body>
	   <!-- INCLUDES HEADER-->
	 <%- include('../partials/header') %>
	  <main>
		<div class="mainError">
			<div class="Msg1"><h1>404</h1></div>
			<div class="Msg2"><h2>Page not found</h2></div>
		</div>
		
		<div class="buttonsError">
			<a href="/"><button class="button">Volver al inicio</button></a>
		</div>		
	</main>
</body>
</html>
